<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<filters bind="data/item" id="Id">
		<filter title="Disponibilidad" bind="@Status">
			<option value="Disponible" color="#3EFF33"/>
			<option value="Vendido" color="#E5E8E8"/>
		</filter>
		<filter title="Tamaño" bind="@Terreno">
			<option text="115 - 120" value="115~120" color="#FF8000"/>
			<option text="120 - 125" value="120.001~125" color="#007fff"/>
			<option text="125 - 130" value="125.001~130" color="#00007f"/>
			<option text="130 en adelante" value="130~9999" color="#80FF00"/>			
		</filter>
		<filter title="Precio" bind="@PrecioVenta">
			<option text="700K - 800K" value="700000~800000"/>
			<option text="800K - 900K" value="800000.001~900000"/>
			<option text="900K - 1M" value="900000.001~1000000"/>
			<option text="$1M" value="1000000~99000000"/>			
		</filter>
	</filters>
	<details>
		<div id="detalles">
			<input name="cliente" type="hidden" value="{{@Cliente}}"/>
			<input name="telefono" type="hidden" value="{{@Telefono}}"/>
			<input name="email" type="hidden" value="{{@Email}}"/>
			<input name="vivienda" type="hidden" value="{{@Identificador}}"/>
			<span visible="{{@Identificador}}">
				Lote: <span id="sLote" bind="@Lote"/><br/><br/>
			</span>
			<span visible="{{@Prototipo}}">
				Prototipo: <span id="sPrototipo" bind="@Prototipo"/>
			</span>
			<br/>
			<br/>
		</div>
		<div id="fotos">
			<div class="foto">
				<img id="fotoFachada" src=""/>
			</div>
			<div class="foto">
				<img id="fotoPlanta" src=""/>
			</div>
		</div>
	</details>
</settings>