<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<filters bind="data/item" id="Id">
		<filter title="Disponibilidad" bind="@Status"/>
	</filters>
	<details>
		<div id="detalles">
			<input name="cliente" type="hidden" value="{{@Cliente}}"/>
			<input name="telefono" type="hidden" value="{{@Telefono}}"/>
			<input name="email" type="hidden" value="{{@Email}}"/>
			<input name="vivienda" type="hidden" value="{{@Identificador}}"/>
			<span visible="{{@Identificador}}">
				Lote: <span id="sLote" bind="@Lote"/><br/><br/>
			</span>
			<span visible="{{@Prototipo}}">
				Prototipo: <span id="sPrototipo" bind="@Prototipo"/>
			</span>
			<br/>
			<br/>
		</div>
		<div id="fotos">
			<div class="foto">
				<img id="fotoFachada" src=""/>
			</div>
			<div class="foto">
				<img id="fotoPlanta" src=""/>
			</div>
		</div>
	</details>
</settings>